---
import Layout from "../../layouts/Layout.astro";
import { getHreflangStaticPaths } from "../../lib/hreflang-helpers";
import ProfilePage from "../../components/ProfilePage";
import FriendsSidebar from "../../components/FriendsSidebar";
import type { Locale } from "../../i18n/config";

const locale: Locale = "es";
---

<Layout title="Mi Perfil | Wizy" description="Consulta tus estadisticas, nivel, XP e historial de quizzes." locale={locale} hreflangPaths={getHreflangStaticPaths("profile")}>
  <div class="max-w-5xl mx-auto px-4 py-8 flex flex-col lg:flex-row gap-6">
    <div class="flex-1 min-w-0">
      <ProfilePage client:load locale={locale} />
    </div>
    <div class="lg:w-72 shrink-0">
      <div class="lg:sticky lg:top-[120px]">
        <FriendsSidebar client:load locale={locale} />
      </div>
    </div>
  </div>
</Layout>
